{% extends "base.html" %}
{% block head %}
	<title>HomeDesigner</title>
	<script>
		user_authenticated = {{ user_authenticated }};
	</script>
{% endblock %}
{% block content %}
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to HomeDesigner</h1>
          <!-- <p class="lead text-muted">Welcome to HomeDesigner<br> -->
		  Floor Plan Automation Software.</p>
          <p>
            <button type="button" class="btn btn-primary" id="btn_start_now">Start Now!</button>
            <a href="/learning/extract_features/" class="btn btn-success">Feature Extraction</a>
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header" style="background-color: #007bff; color:white;">
					<h3 class="modal-title">Login</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
						<form action="/login/" method="post">
							{% csrf_token %}
							<input type="hidden" name="to" value="/floorplanner" />
							<div class="form-group">
								<input name="username" type="text" class="form-control" placeholder="Username *" value="" />
							</div>
							<div class="form-group">
								<input name="password" type="password" class="form-control" placeholder="Password *" value="" />
							</div>
							<div class="form-group">
								<input type="submit" class="btnSubmit" value="Login" />
							</div>
							<div class="form-group">
								<a href="#" class="ForgetPwd">Forget Password?</a>
							</div>
						</form>
						<p class="text-danger" id="badlogin"></p>
				  </div>
				  <script>
					if ($.urlParam('badlogin')) {
						$('#exampleModalLong').modal();
						$('#badlogin').html("Invalid credentials!");
					} else if ($.urlParam('requestlogin')) {
						$('#exampleModalLong').modal();
					}
					$('#btn_start_now').click( function(event) {
						if (user_authenticated) {
							window.location.href = 'floorplanner';
						} else {
							$('#exampleModalLong').modal();
						}
					});
				  </script>
				  <!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				  </div> -->
				</div>
			  </div>
			</div>
          </p>
        </div>
      </section>
<!--
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> -->

    </main>
{% endblock %}