{% extends "base.html" %}
{% block head %}
    <title>HomeDesigner - Machine Learning</title>
<style>
ul {
    list-style-type: none;
    text-align: left;
}

</style>
{% endblock %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">HomeDesigner Machine Learning</h1><br>

            <a href="/learning/extract_features" class="btn btn-primary">Extract Features</a>
            <a href="#" class="btn btn-success">Train Classifier</a><br><br>


        </div>
    </section>
{% endblock %}