
<!doctype html>
<html lang="en">
  <head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="{% static 'fontawesome.css' %}">
	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'popper.min.js' %}"></script>
	<script src="{% static 'bootstrap.js' %}"></script>
	<script src="{% static 'holder.js' %}"></script>
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
	
    {% block head %}
		<title>HomeDesigner</title>
	{% endblock %}
    
	<!-- Custom styles for this template -->
	
    <link href="{% static 'home.css' %}" rel="stylesheet">
	<script src="{% static 'urlparams.js' %}"></script>
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/home" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>HomeDesigner</strong>
          </a>
		  
		  {% if user.is_authenticated %}
		  <p class="userP">Welcome, {{ user.username }}! &nbsp;&nbsp; <a class="btn btn-danger" href="/logout">Logout</a></p>
		  {% else %}
		  <p class="userP"><a class="btn btn-success" href="/signup">Signup</a>&nbsp;<a class="btn btn-primary" href="/home?requestlogin=true">Login</a></p>


		  {% endif %}
        </div>
      </div>
    </header>
	
    {% block content %}{% endblock %}

    <footer class="text-muted">
      <div class="container">
        <p style="text-align: center;">HomeDesigner &copy; Omar Abdallah</p>
      </div>
    </footer>

    
  </body>
</html>
